<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>SanLuisAutomotores</title>
	</head>
	<body style=" font-family: Arial;">
		<table width="100%" cellpadding="0" cellspacing="0">
			<tr><td>Bienvenido/a {{ email }}</td></tr>
			<br>
			<tr><td>Sólo falta un paso para que comiences a ser parte de SanLuisAutomotores.</td></tr>
			<tr><td>Tienes 30 días para activar tu Usuario haciendo clic en el siguiente link:</td></td>
			<br/>
			<tr><td><a href="http://www.sanluisautomotores.com{% url confirmation key %}">http://www.sanluisautomotores.com{% url confirmation key %}</a></td></tr>
			<br/>
			<tr><td>Si el link no funciona, copialo y pegalo en la barra de direcciones de tu navegador.</td></tr>
			<tr><td>Se te abrirá una ventana para que puedas ingresar a SanLuisAutomotores con tu Usuario y Contraseña. Una vez activado tu Usuario podrás comenzar con la carga de tu currículum para luego postularte a todas las búsquedas de trabajo que desees.</td></tr>
			<tr><td>&copy; 2012 SanLuisAutomotores.com</td><tr>
		</table>
	</body>
</html>
