{% extends "base.html" %}

{% block title %}Términos y Condiciones{% endblock %}

{% block content %}
<div id="content_left" class="grid_16">
	<h2>Términos y Condiciones</h2>
	<br>
	<p>El acceso, participación y uso del SanLuisAutomotores es gratuito y está regido por los términos y condiciones que se incluyen a continuación, los cuales se entienden conocidos y aceptados por los usuarios.</p>
	<br>
	<p><strong>Registración</strong></p>
	<br>
	<p>Cuando se registre en SanLuisAutomotores, se le pedirá que aporte una dirección válida de correo electrónico donde se le enviará una clave de confirmación, mediante la cual se activará la cuenta de usuario.</p>
	<br>
	<p>SanLuisAutotmotores se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una registración previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión.</p>
	<br>
	<p>Usted es el único responsable de mantener la confidencialidad de sus datos y de su contraseña. El Usuario será responsable de todos los usos de su registro, tanto si están autorizados o no por Usted. Deberá notificar inmediatamente a SanLuisAutomotores sobre cualquier uso sin autorización de su registro o contraseña.</p>
	<br>
	<p><strong>Uso del servicio</strong></p>
	<br>
	<p>SanLuisAutomotores se reserva el derecho de eliminar o modificar cualquier información o mensaje que en su opinión viole sus políticas.</p>
	<br>
	<p><strong>Finalización del servicio</strong></p>
	<br>
	<p>SanLuisAutomotores podrá suspender temporalmente o desactivar definitivamente la cuenta de un usuario, sin previa notificación al mismo, y sin que sea necesaria la invocación de causa alguna, procediéndose en tal caso a la eliminación de toda la información relacionada con la cuenta.</p>
</div>
<div class="clear"></div>
{% endblock %}
