<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<title>SanLuisAutomotores - {% block title %}{% endblock %}</title>
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/static/css/reset.css" />
		<link rel="stylesheet" href="/static/css/960.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<link rel="stylesheet" href="/static/css/formalize.css" />
		<style type="text/css">{% block style %}{% endblock %}</style>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/jquery.formalize.min.js"></script>
		<script type="text/javascript">{% block script %}{% endblock %}</script>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30267341-1']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	</head>
	<body>

	<!-- Init Header -->
		<div id="wrapper_header">
			<div id="header" class="container_16">
				<div class="grid_10">
					<a href="{% url home %}" title="Inicio"><img src="/static/images/logo.png" /></a>
				</div>
				<div id="nav" class="grid_6">
					<ul>
						{% if user.is_authenticated %}
						<li><a href="{% url profile  %}">{{ user.username }}</a></li>
						<li class="last"><a href="{% url logout  %}">Salir</a></li>
						{% else %}
						<li><a href="{% url login %}">Ingresar</a></li>
						<li class="last"><a href="{% url register_common_user %}">Registrarse</a></li>
						{% endif %}
					</ul>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	<!-- End Header -->

		<div class="clear"></div>

	<!-- Init Content -->
		<div id="content" class="container_16">
		{% if sponsors %}
		<!-- Init Sponsors -->
			<div id="sponsors" class="grid_16">
				{% for sponsor in sponsors %}
				<div class="grid_2 {% if forloop.first %}alpha{% endif %}{% if forloop.last %}omega{% endif %}">
					<div class="price"><a href="">$50.000</a></div>
					<a href="#" title="Publicite Aquí">
						<img class="{% if forloop.first %}alpha{% endif %}{% if forloop.last %}omega{% endif %}" src="/static/images/imagen{{ forloop.counter }}.jpg" />
					</a>
				</div>
				{% endfor %}
			</div>
		<!-- End Sponsors -->
		{% endif %}
			{% block content %}{% endblock %}

		</div>
	<!-- End Content -->

		<div class="clear"></div>

	<!-- Init Footer -->
		<div id="footer" class="container_16">
			<div class="grid_16">
				<hr class="separator">
			</div>
			<div class="clear"></div>
			<p class="grid_6">&copy; 2012 - SanLuisAutomotores.com</p>
			<ul class="grid_10">
				<li class="first"><a href="{% url home %}">Inicio</a></li>
				<li><a href="{% url terms %}">Términos y Condiciones</a></li>
				<li><a href="{% url policies  %}">Politicas de Privacidad</a></li>
				<li><a href="#">Contacto</a></li>
				<li><a href="{% url about_us  %}">Sobre Nosotros</a></li>
			</ul>
		</div>
		<br><br>
	<!-- End Footer -->

	</body>
</html>
