<a href="" title="Click aqui para cambia su imagen de perfíl."><img class="grid_2 alpha omega" src="/static/images/profile.gif" /></a>
<div class="grid_2 omega">
	<div id="stadistic">
		<p class="porcentage">0%</p>
		<p class="description">Perfíl completo</p>
		<p class="porcentage">5 Veces</p>
		<p class="description">Visto por empresas</p>
	</div>
</div>
<div class="clear"></div>
<p class="subtitle">Curriculum</p>
<ul class="submenu">
	<li class="grid_2 alpha first"><a href="{% url personal_data  %}" title="Click aquí para ingresar sus datos personales.">Datos Personales</a></li>
	<li class="grid_2 omega first"><a href="{% url experiences %}" title="Click aquí para ingresar sus experiencias laborales.">Experiencia Laboral</a></li>
	<li class="grid_2 alpha"><a href="{% url educations %}" title="Click aquí para ingresar su formación académica.">Formación Académica</a></li>
	<li class="grid_2 omega"><a href="{% url courses %}" title="Click aquí para ingresar sus cursos realizados.">Cursos Realizados</a></li>
	<li class="grid_2 alpha"><a href="{% url knowledges %}" title="Click aquí para ingresar sus conocimientos personales.">Conocimientos</a></li>
	<li class="grid_2 omega"><a href="{% url characteristics %}" title="Click aquí para ingresar sus características personales.">Características</a></li>
	<li class="grid_2 alpha"><a href="{% url curriculum %}" title="Click aquí para previsualizar su curriculum.">Previsializar</a></li>
	<li class="grid_2 omega"><a href="#" title="Click aquí para descargar su curriculum en formato PDF.">Generar PDF</a></li>
</ul>
